<h3>User info</h3>
<div>
  <% if user.image.attached? %>
    <%= image_tag user.image, size: "100x100" %>

  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>

  <p>name</p>
  <%= user.name  %>

  <p>introduction</p>
  <%= link_to "introduction",edit_user_path(user) %>
</div>

