


<body>


<%= render'user',user:@user %>
<%= render 'books/book',book:@book %>

<!--ユーザー投稿一覧-->

<h3>Books</h3>
<% @books.each do |book| %>
<li>Title :<%= book.title %></li>
<li>Opinion :<%= book.body %></li>

<% end %>

</body>



