<h1>ユーザー詳細</h1>


<h3>User info</h3>
<div>
  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

  <p>ユーザー画像 </p>
  <%= @user.name  %>
</div>






